.course-tab {
  width: clamp(225px, 23.436vw, 900px);
  height: auto;
  padding: clamp(10px, 1.0416vw, 40px);
  border-radius: 8px;
  @apply bg-slate-100;
  @apply shadow-md;

  &__row {
    width: 100%;
    height: auto;

    &__heading {
      font-size: clamp(10px, 1.0416vw, 40px);
      font-weight: 800;
      font-family: Inter;
    }

    &__image {
      width: clamp(29px, 3.02064vw, 116px);
      height: clamp(29px, 3.02064vw, 116px);
      border-radius: 4px;
    }
  }
  &__description {
    width: 100%;
    font-size: clamp(7px, 0.72912vw, 28px);
    font-weight: 400;
    font-family: Inter;
  }
}
