.course-edit-side {
  &__image {
    width: clamp(85px, 8.8536vw, 340px);
    height: clamp(85px, 8.8536vw, 340px);
  }

  &__course-name {
    width: 70%;
    font-family: Inter;
    font-size: clamp(11.5px, 1.19784vw, 46px);
    font-weight: 600;
  }
}
