.background_black {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
}

.image-upload-modal {
  width: clamp(200px, 20.832vw, 800px);
  min-height: clamp(150px, 15.624vw, 600px);
  position: absolute;
  top: 0;
  @apply bg-custom-lightest-blue;
  @apply rounded-md;

  &__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply p-4;

    &__upper {
      width: 84%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__icon {
        font-size: clamp(14px, 1.45824vw, 56px);
        transition: 0.3s all;
        cursor: pointer;
        @apply text-custom-blue;
        &:hover {
          @apply text-custom-hover-blue;
        }
      }

      &__text {
        font-size: clamp(12px, 1.24992vw, 48px);
        @apply font-bold;
        @apply text-custom-blue;
      }
    }

    &__preview {
      width: 90%;
      height: 80%;
      @apply rounded-md;
    }

    &__lower {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__input {
        width: 60%;
        height: clamp(27.5px, 2.8644000000000003vw, 110px);
      }

      &__button {
        font-size: clamp(12px, 1.24992vw, 48px);
        transition: 0.3s all;
        @apply text-custom-blue;
        &:hover {
          @apply text-custom-hover-blue;
        }
      }
    }
  }
}
