.button {
  width: clamp(208px, 21.66528vw, 832px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  color: white;
  cursor: pointer;
  transition: 0.3s;

  &--enabled {
    @apply bg-custom-blue;
    &:hover {
      background-color: #0f20b9;
    }
  }

  &--disabled {
    @apply bg-gray-700;
  }
}
