.regular-button {
  width: clamp(100px, 10.416vw, 400px);
  height: clamp(22px, 2.2915200000000002vw, 88px);
  background-color: #0b1887 !important;
  font-size: clamp(9px, 0.93744vw, 36px);
  color: white;
  @apply border-custom-blue;
  transition: 0.3s all;
  margin-right: 16px;
  &:hover {
    background-color: #0f20b9;
  }
}

// .blue {
//   @apply text-white #{!important};
//   @apply bg-custom-blue #{!important};
//   &:hover {
//     @apply bg-custom-hover-blue #{!important};
//   }
// }

.outline-button {
  width: clamp(100px, 10.416vw, 400px);
  height: clamp(22px, 2.2915200000000002vw, 88px);
  background: transparent;
  font-size: clamp(9px, 0.93744vw, 36px);
  @apply text-custom-black;
  @apply border-custom-blue;
  border: 2px solid;
  transition: 0.3s all;
  &:hover {
    border: 2px solid;
    @apply border-custom-blue;
    color: white;
    @apply bg-custom-blue;
  }
}

@media screen and (max-width: 640px) {
  .regular-button,
  .outline-button {
    width: clamp(150px, 70.092vw, 600px);
    height: clamp(27.5px, 12.8502vw, 110px);
    font-size: clamp(10px, 4.6728vw, 40px);
    margin-right: 0px;
  }
}
