.lesson-module-tab {
  width: 100%;
  padding: clamp(5px, 0.5208vw, 20px);
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 2px;
  @apply mt-10;
  &:hover {
    @apply bg-gray-200;
  }

  &:hover &__text {
    text-decoration: underline;
  }

  &__text {
    font-size: clamp(10.5px, 1.09368vw, 42px);
    @apply text-custom-black;
  }

  &__cross {
    font-size: clamp(12px, 1.24992vw, 48px);
    cursor: pointer;
    transition: 0.3s all;
    @apply text-gray-300;
    &:hover {
      @apply text-gray-500;
    }
  }

  &__image {
    width: clamp(40px, 4.1664vw, 160px);
    height: clamp(40px, 4.1664vw, 160px);
    border-radius: 7px;
  }
}

@media screen and (max-width: 640px) {
  .lesson-module-tab {
    width: 100%;
    padding: clamp(5px, 0.5208vw, 20px);
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 2px;
    border-left: 2px solid;
    @apply border-custom-blue;
    @apply mt-10;
    &:hover {
      @apply bg-gray-200;
    }

    &:hover &__text {
      text-decoration: underline;
    }

    &__text {
      font-size: clamp(10.5px, 4.90644vw, 42px);
      @apply ml-3;
      @apply text-custom-black;
    }

    &__cross {
      font-size: clamp(12px, 5.60736vw, 48px);
      cursor: pointer;
      transition: 0.3s all;
      @apply text-gray-300;
      &:hover {
        @apply text-gray-500;
      }
    }

    &__image {
      display: none;
    }
  }
}
