.message {
  min-width: 12%;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  font-size: clamp(8.5px, 0.88536vw, 34px);
  word-break: break-word;
  @apply pr-4;
  @apply pl-4;
  @apply pt-2;
  @apply pb-2;
  @apply mt-3;
  @apply rounded-full;
  @apply text-custom-black;
  @apply bg-custom-light-blue;

  &__image {
    width: 90%;
    height: 90%;
  }

  &__text {
    flex-grow: 1;
    @apply mr-20;
  }

  &__additional_data {
    position: absolute;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    right: clamp(5.5px, 0.5728800000000001vw, 22px);
    bottom: clamp(2.5px, 0.2604vw, 10px);

    &__time {
      font-size: clamp(5.5px, 0.5728800000000001vw, 22px);
    }

    &__check {
      font-size: clamp(5.5px, 0.5728800000000001vw, 22px);
      @apply ml-2;
    }
  }

  &--sender {
    margin-left: auto;
    align-self: flex-end;
    @apply bg-custom-light-blue;
    @apply text-custom-black;
    @apply mr-4;
  }

  &--recipient {
    margin-right: auto;
    align-self: flex-start;
    @apply mr-4;
    @apply bg-custom-lightest-blue;
    @apply text-custom-black;
    @apply ml-4;
  }
}
