.finished-module {
  width: 70%;
  padding: clamp(12px, 1.24992vw, 48px);
  display: flex;
  flex-direction: column;
  align-items: fle;
  border-radius: clamp(3px, 0.31248vw, 12px);
  @apply bg-gray-100;
  @apply mt-2;
  @apply mb-8;

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image-and-content {
      display: flex;
      align-items: center;

      &__image {
        width: clamp(45px, 4.6872vw, 180px);
        height: clamp(45px, 4.6872vw, 180px);
        border-radius: 3px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @apply ml-6;

        &__title {
          font-size: clamp(11px, 1.1457600000000001vw, 44px);
          @apply text-custom-black;
        }

        &__description {
          font-size: clamp(8px, 0.83328vw, 32px);
          @apply text-custom-black;
        }
      }
    }
  }

  &:hover {
    transition: 0.3s all;
    @apply bg-custom-lightest-blue;
  }
}
