.chat_window {
  width: 70%;
  position: relative;
  @apply rounded-lg;
  @apply bg-slate-100;

  &__upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply p-4;

    &__back {
      display: flex;
      align-items: center;
      font-size: clamp(10px, 1.0416vw, 40px);
      transition: 0.3s all;
      @apply text-custom-blue;
      &:hover {
        @apply text-custom-hover-blue;
      }

      &__left {
        @apply mr-3;
      }
    }

    &__name {
      font-size: clamp(11.5px, 1.19784vw, 46px);
      font-weight: 600;
      cursor: pointer;
      @apply text-custom-black;
    }

    &__image {
      width: clamp(25px, 2.604vw, 100px);
      height: clamp(25px, 2.604vw, 100px);
      cursor: pointer;
      @apply rounded-full;
    }
  }

  &__main {
    width: 100%;
    overflow-y: auto;
    height: clamp(310px, 32.2896vw, 1240px);
    display: flex;
    flex-direction: column;
    @apply bg-slate-50;
  }

  &__textfield {
    width: 90%;
    height: clamp(35px, 3.6456vw, 140px);
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    @apply bg-slate-100;

    &__input {
      width: 85%;
      height: clamp(22px, 2.2915200000000002vw, 88px);
      font-size: clamp(8.5px, 0.88536vw, 34px);
      outline: none;
      border: 2px solid;
      @apply pl-4;
      @apply rounded-sm;
      @apply bg-slate-50;
      @apply text-custom-black;
      @apply border-custom-light-blue;
    }

    &__send,
    &__attachment {
      font-size: clamp(13px, 1.35408vw, 52px);
      cursor: pointer;
      transition: 0.3s all;
      @apply text-custom-blue;
      &:hover {
        @apply text-custom-hover-blue;
      }
    }
  }
}
