.module-tab {
  width: 70%;
  border-radius: clamp(4px, 0.41664vw, 16px);
  border-left: 4px solid;
  @apply border-custom-blue;
  @apply bg-gray-100;
  @apply mb-8;

  &__inputs {
    &__text {
      font-size: clamp(11px, 1.1457600000000001vw, 44px);
      @apply text-custom-black;
    }

    &__upper-row {
      width: 100%;

      &__number {
        font-size: clamp(10.5px, 1.09368vw, 42px);
        @apply text-custom-black;
      }
    }
  }

  &__lessons {
  }
}
