@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 86.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @apply mt-32;

  &--row {
    width: 86.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    @apply mt-24;
    @apply mb-32;
  }
}

.main-heading {
  @apply text-custom-black;
  font-family: Inter;
  font-size: clamp(15px, 1.5624vw, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.separator {
  width: clamp(200px, 20.832vw, 800px);
  height: 1px;
  @apply bg-gray-300;
}

.blue {
  @apply text-custom-blue;
}

.email {
  @apply text-custom-black;
  font-family: Inter;
  font-size: clamp(15px, 1.5624vw, 60px);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 90%;
    align-items: start;
    @apply mt-32;

    &--row {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
      @apply mt-10;
      @apply mb-32;
    }
  }

  .main-heading {
    @apply text-custom-black;
    font-family: Inter;
    font-size: clamp(15px, 7.0092vw, 60px);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .email {
    width: 60%;
    @apply text-custom-black;
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
