.editor {
  &__toolbar {
    width: 70%;
    display: flex;
    border: 1px solid;
    @apply bg-gray-100;
    @apply p-2;
    @apply mt-7;

    &__bold,
    &__italic {
      width: clamp(20px, 2.0832vw, 80px);
      height: clamp(20px, 2.0832vw, 80px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(12px, 1.24992vw, 48px);
      transition: 0.3s all;
      @apply text-custom-black;
      &:hover {
        border: 1px solid;
        @apply bg-gray-200;
        @apply border-gray-300;
        @apply text-custom-hover-blue;
      }
    }
  }

  &__text-editor {
    width: 70%;
    height: clamp(150px, 15.624vw, 600px);
    border-top: none !important;
    padding: clamp(8px, 0.83328vw, 32px) !important;
  }
}
