.logo-container {
  width: auto;
  height: auto;
  cursor: pointer;

  &__image {
    width: clamp(26px, 2.70816vw, 104px);
    height: clamp(26px, 2.70816vw, 104px);
  }

  &__text {
    @apply text-custom-black;
    font-family: Inter;
    font-size: clamp(12.5px, 1.302vw, 50px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .white {
    color: white !important;
  }
}

@media screen and (max-width: 640px) {
  .logo-container {
    width: auto;
    height: auto;
    cursor: pointer;

    &__image {
      width: clamp(25px, 11.681999999999999vw, 100px);
      height: clamp(25px, 11.681999999999999vw, 100px);
    }

    &__text {
      display: none;
    }
    .white {
      color: white !important;
    }
  }
}
