.utility-button {
  width: clamp(85px, 8.8536vw, 340px);
  height: auto;

  &__filled-btn {
    width: auto;
    height: auto;
    padding: clamp(15px, 1.5624vw, 60px);
    color: white;
    font-family: Inter;
    font-size: clamp(8.5px, 0.88536vw, 34px);
    padding-top: clamp(4px, 0.41664vw, 16px);
    padding-bottom: clamp(4px, 0.41664vw, 16px);
    border-radius: 4px;
    transition: 0.3s all;
    @apply bg-custom-blue #{!important};
    &:hover {
      background-color: #0f20b9 !important;
    }
  }

  &__filled-inactive-btn {
    width: clamp(100px, 10.416vw, 400px);
    height: auto;
    font-family: Inter;
    font-size: clamp(8.5px, 0.88536vw, 34px);
    padding-top: clamp(4px, 0.41664vw, 16px);
    padding-bottom: clamp(4px, 0.41664vw, 16px);
    border-radius: 4px;
    cursor: auto;
    transition: 0.3s all;
    @apply bg-gray-200 #{!important};
    @apply text-custom-black;
  }

  &__outline-btn {
    width: clamp(100px, 10.416vw, 400px);
    height: auto;
    font-family: Inter;
    font-size: clamp(8.5px, 0.88536vw, 34px);
    padding-top: clamp(4px, 0.41664vw, 16px);
    padding-bottom: clamp(4px, 0.41664vw, 16px);
    border-radius: 4px;
    transition: 0.3s all;
    border: 3px solid;
    @apply border-custom-blue #{!important};
    @apply text-custom-blue #{!important};
    &:hover {
      color: white !important;
      @apply bg-custom-blue;
    }
  }

  &__transparent-inactive {
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(10px, 1.0416vw, 40px);
    @apply text-custom-black #{!important};
    transition: 0.3s all;
    &:hover {
      color: #0f20b9;
    }
  }

  &__transparent-active {
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(10px, 1.0416vw, 40px);
    @apply text-custom-blue;
    text-decoration: underline;
  }
}
