.new-course {
  height: auto;
  padding: clamp(10px, 1.0416vw, 40px);
  border-radius: 4px;
  cursor: pointer;
  @apply bg-slate-50;
  @apply shadow-sm;
  @apply mt-8;
  transition: 0.3s all;
  &:hover {
    @apply bg-custom-lightest-blue;
    @apply shadow-md;
  }

  &__image {
    width: clamp(37.5px, 3.906vw, 150px);
    height: clamp(37.5px, 3.906vw, 150px);
  }

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    &__title-container {
      width: 100%;
      height: auto;

      &__title {
        font-size: 22px;
        font-weight: 700;
        @apply text-custom-black;
      }
    }
  }
}
