.lesson-tab-input {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  @apply bg-gray-100;

  &__row {
    width: 100%;
    @apply mt-4;
    @apply mb-4;

    &__image {
      width: clamp(40px, 4.1664vw, 160px);
      height: clamp(40px, 4.1664vw, 160px);
    }
  }
}
