.header {
  width: 100%;
  height: auto;

  &__container {
    width: 86.6%;
    margin: auto;
  }

  &__links {
    width: 65%;

    &--link {
      font-size: clamp(11px, 1.1457600000000001vw, 44px);
      font-weight: 600;
      @apply text-custom-black;
      transition: 0.3s all;
      &:hover {
        @apply text-custom-blue;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .header {
    width: 100%;
    height: auto;

    &__mob-container {
      width: 90%;
      height: auto;
      margin: auto;
      margin-top: clamp(8px, 3.73824vw, 32px);
    }
  }
}
