.header {
  width: 100%;
  height: auto;

  &__container {
    width: 86.6%;
    margin: auto;
  }

  &__links {
    width: 50%;

    &--link {
      font-size: clamp(11px, 1.1457600000000001vw, 44px);
      font-weight: 600;
      @apply text-custom-black;
      transition: 0.3s all;
      &:hover {
        @apply text-custom-blue;
      }
    }
  }
}
