.user-tab {
  width: auto;
  height: auto;
  cursor: pointer;

  &:hover &__name {
    @apply text-custom-blue;
  }

  &__image {
    width: clamp(20px, 2.0832vw, 80px);
    height: clamp(20px, 2.0832vw, 80px);
    border-radius: 50px;
  }

  &__name {
    font-size: clamp(10px, 1.0416vw, 40px);
    font-family: Inter;
    font-weight: 700;
    @apply text-custom-black;
  }
}

@media screen and (max-width: 640px) {
  .user-tab {
    width: auto;
    height: auto;
    cursor: pointer;

    &:hover &__name {
      @apply text-custom-blue;
    }

    &__image {
      width: clamp(20px, 9.3456vw, 80px);
      height: clamp(20px, 9.3456vw, 80px);
      border-radius: 50px;
    }

    &__name {
      display: none;
    }
  }
}
