.button {
  width: clamp(208px, 21.66528vw, 832px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  @apply text-lg;
  @apply bg-gray-300;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;

  &--active {
    @apply bg-custom-blue;
    border-radius: 2px;
    &:hover {
      background-color: #0f20b9;
    }
  }

  &--inactive {
    @apply text-lg;
    @apply bg-gray-300;
    border-radius: 2px;
  }
}

@media screen and (max-width: 640px) {
  .button {
    width: 90%;
    height: clamp(25px, 11.681999999999999vw, 100px);
    @apply text-lg;
    @apply bg-gray-300;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;

    &--active {
      @apply bg-custom-blue;
      border-radius: 2px;
      &:hover {
        background-color: #0f20b9;
      }
    }

    &--inactive {
      @apply text-lg;
      @apply bg-gray-300;
      border-radius: 2px;
    }
  }
}
